@{
    ViewBag.Title = "地市上传任务";
    CTCCGoods.Controllers.cuser user = (CTCCGoods.Controllers.cuser)Session["loginuser"];
}
@section script{
    <script>
        function createlink(value, row, index) {
            //if (row.etid == -1) {
            //    return '<a href="/plan/option#' + row.id + '-n">' + value + '</a>';
            //} else {
            
            //}
            if(value){
                return '<a href="/plan/option#' + row.id + '">' + value + '</a>';
            }else{
                return '<a href="/plan/list?id=' + row.classpath + '">【目录】' + row.classname + '</a><br />（数量/进行/关闭，'+row.num+'/'+row.open+'/'+row.close+'）';
            }
        }
        function convertStatus(value, row, index) {
            if(value==null) return null;
            return value === 0 ? "开启" : "关闭";
        }
        window.usertype = @user.utype;

        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#table1').bootstrapTable({
                    url: '/plan/fp?id=@(Uri.EscapeDataString(ViewBag.path))',         //请求后台的URL（*）
                    //method: 'post',                      //请求方式（*）
                    toolbar: '#tbaction',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    sortName: 'planclass',
                    columns: [{
                        field: 'id',
                        title: '任务id',
                        visible: false
                    },
                        {
                            field: 'name',
                            title: '任务名称',
                            formatter: createlink,
                            //visible: false
                        }, {
                            field: 'des',
                            title: '备注',
                            visible: false
                        }, {
                            field: 'etname',
                            title: '模板',
                            //visible: false
                        }, {
                            field: 'etid',
                            title: '模板id',
                            visible: false
                        }, {
                            field: 'uploadnum',
                            title: '上传数量',
                            //visible: false
                        }, {
                            field: 'plannum',
                            title: '计划数量',
                            //visible: false
                        }, {
                            field: 'status',
                            title: '状态',
                            formatter: convertStatus,
                            //visible: false

                        }, {
                            field: 'createtime',
                            title: '发布时间',
                            //visible: false
                        }, {
                            field: 'plantime',
                            title: '计划完成时间',
                            //visible: false
                        }, {
                            field: 'completetime',
                            title: '实际完成时间',
                            //visible: false
                        }, {
                            field: 'createuid',
                            title: '发布人id',
                            visible: false
                        }, {
                            field: 'createuname',
                            title: '发布人',
                            //visible: false
                        },
                    {
                        field: 'filename',
                        title: '操作',
                        width: usertype != 0 ? '10%' : '15%',
                        formatter: function (value, row, index) {
                            if(!row.name) return null;
                            var text = '-';
                            if (usertype == 0) {
                                text = "<a class='btn btn-danger delete' style='height:20px;line-height:20px;font-size: 14px;padding-top: 0;padding-bottom:0;'>删除</a>";
                            }
                            return text;
                        },
                        //visible: false,
                        events: {
                            'click .delete': function (e, value, row, index) {
                                var id = row['id'];
                                if (!id) return false;
                                if (!confirm('您确认删除吗？')) return false;
                                $.post('/plan/deletetask', { 'id': id }, function (result) {
                                    if (result.ok) {
                                        alert(result.msg);
                                        location.reload();
                                    } else {
                                        var msg = result.msg + "\n\n";
                                        if (result.data) {
                                            for (var i = 0; i < result.data.length; i++) {
                                                msg += result.data[i]['name'] + "\n";
                                            }
                                        }
                                        alert(msg);
                                    }
                                });
                            }
                        },
                    },],
                    //data: data.data
                });
                
            };

            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                };
                return temp;
            };
            return oTableInit;
        };


        var ButtonInit = function () {
            var oInit = new Object();
            var postdata = {};

            oInit.Init = function () {
                //初始化页面上面的按钮事件
            };

            return oInit;
        };
        var oTable = new TableInit();
        oTable.Init();

        $('#add').on('click', function () {
            location.href = '/plan/option#new'
        })
    </script>
}
<div class="container">
    <div id="tbaction" class="form form-inline">
        <div class="btn-group" role="group" aria-label="..."  auth>
            <button type="button" class="btn btn-success" id="add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发布任务</button>
            <a href="/plan/templet" class="btn btn-success">模板管理</a>
            <a href="/plan/enums" class="btn btn-success">枚举管理</a>
        </div>
        <input type="text" class="form-control" readonly style="width:450px" value="@(Uri.UnescapeDataString(ViewBag.path))" />
    </div>
    
    
    <table id="table1"></table>
</div>