@{
    ViewBag.Title = "数据完整率";
}
@section style {
    <style>
        #record:hover {
            cursor: pointer;
            color: deepskyblue;
        }

        #recordInfo {
            display: none;
        }
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            white-space:nowrap
        }
    </style>
}
@section script {
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script src="/js/multiselect.js"></script>
    <script>
        function labelformatter(a){
            //console.log(a);
            return a.data + "%";
        }
        $(function () {
            window.echartsbar = echarts.init($("#chartbar")[0]);

            var option = {
                title: {
                    text: "数据完整率",
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                color: ["#ED7D31"],
                legend: {
                    data: ['数据完整率'],
                },
                xAxis: {
                    data: [],
                },
                yAxis: {
                    type: 'value',
                },
                series: [
                    {
                        name: "数据完整率",
                        type: "bar",
                        data: []
                    }
                ]
            }

            echartsbar.setOption(option);
            
        });
        var baseCols = [
            {
                field: "name",
                title:"日期"
            },
            {
                field: "value",
                title: "数据完整率"
            },
            {
                field: "zcount",
                title: "总小区数"
            },
            {
                field: "ccount",
                title: "数据完整小区数"
            },
        ];
        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#table1').bootstrapTable({
                    url: "/netcap/fcompleterate",
                    method: "GET",
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "name",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: baseCols,
                    onLoadSuccess: function (data) {
                        var riqidata = [];
                        var valuedata = [];
                        $.each(data.data, function () {
                            riqidata.push(this.name);
                            valuedata.push(this.value);
                        });
                        echartsbar.setOption({
                            xAxis: {
                                data: riqidata,
                            },
                            series: [
                                {
                                    name: "数据完整率",
                                    type: "line",
                                    data: valuedata,
                                    symbol: "circle",
                                    symbolSize: 10,
                                    label: {
                                        normal: {
                                            show: true,
                                            formatter: labelformatter
                                        },
                                        emphasis: {
                                            show: true,
                                        }
                                    }
                                }
                            ]
                        });
                    }
                })
            };

            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    
                };
                return temp;
            };
            return oTableInit;
        };

        var oTable = new TableInit();
        oTable.Init();

    </script>

}

<div class="container" id="divwai">
    <div class="row">
        <div class="col-md-4">
            <table id="table1"></table>
        </div>
        <div class="col-md-8" id="chartbar" style="height:700px"></div>
    </div>
    <div class="form-inline" id="toolbar" >
        
    </div>
    
</div>
