@{
    ViewBag.Title = "超忙原始清单";
}
@section style {
    <style>
        #record:hover {
            cursor: pointer;
            color: deepskyblue;
        }

        #recordInfo {
            display: none;
        }
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            white-space:nowrap
        }
    </style>
}
@section script {
    <script src="/js/multiselect.js"></script>
    <script>
        
        $(function () {
            $("#flimport").val("");
            

            $("#btnimport").on("click", function () {
                if ($("#btnopen").hasClass("hidden")) {
                    //$("#txttime").removeClass("hidden")
                    $("#btnopen").removeClass("hidden")
                } else {
                    if ($("#flimport").val()) {
                        $("#toolbar").submit();
                    } else {
                        $("#txttime").addClass("hidden")
                        $("#btnopen").addClass("hidden")
                    }
                }

            });
            $("#btnopen").on("click", function () {
                $("#flimport").trigger("click");
            });
            $("#flimport").on("change", function () {
                //$("#toolbar").submit();
                //$("#txttime").removeClass("hidden")
                $("#btnopen").removeClass("btn-warning").addClass("btn-success");
            });
            
        });
        var baseCols = [{
                field: 'no',
                title: '序号',
                }];
        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#table1').bootstrapTable({
                    url: "",
                    method: "GET",
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    uniqueId: "no",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: baseCols,
                    onLoadSuccess: function (data) {
                        if (data.rows && data.rows.length > 0) {
                            var same = true;
                            if (same) {
                                var ccount = 0;
                                for (var col in data.rows[0]) {
                                    ccount++;
                                    if (!same) continue;
                                    var has = false;
                                    for (var col2 in this.columns[0]) {
                                        if (col == this.columns[0][col2].field) {
                                            has = true;
                                            break;
                                        }
                                    }
                                    if (!has) {
                                        same = false;
                                    }
                                }
                            }
                            same = same && (ccount == this.columns[0].length);
                            if (!same) {
                                var newcols = [];
                                for (var col in data.rows[0]) {
                                    newcols.push({
                                        field: col,
                                        title: col,
                                    });
                                }
                                $('#table1').bootstrapTable("refreshOptions", {
                                    columns:newcols
                                });
                            }
                            
                        }
                    }
                })
            };

            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    
                };
                return temp;
            };
            return oTableInit;
        };

        var oTable = new TableInit();
        oTable.Init();

    </script>

}

<div class="container">
    <form class="form-inline" id="toolbar" action="/netcap/table2import" method="post" enctype="multipart/form-data">
        <input type="file" id="flimport" class="hidden" name="flimport" />
        <a class="btn btn-info" href="/template/superbusylist_template.xlsx" auth><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 模板下载</a>
        <div class="input-group" auth>
            <input type="text" readonly placeholder="选择文件" class="form-control hidden" name="txttime" id="txttime" />
            <div class="input-group-btn">
                <button class="btn btn-warning hidden" type="button" id="btnopen"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 浏览</button>
                <button class="btn btn-success" type="button" id="btnimport"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> 导入</button>
            </div>
        </div>
    </form>
    <table id="table1"></table>
</div>
