@{
    ViewBag.Title = "首页";
}
@section script{
    <script src="/js/echarts.min.js"></script>
    <script src="/js/hebei.js"></script>
    <script src="/js/district/保定市.js"></script>
    <script src="/js/district/沧州市.js"></script>
    <script src="/js/district/承德市.js"></script>
    <script src="/js/district/邯郸市.js"></script>
    <script src="/js/district/衡水市.js"></script>
    <script src="/js/district/廊坊市.js"></script>
    <script src="/js/district/秦皇岛市.js"></script>
    <script src="/js/district/石家庄市.js"></script>
    <script src="/js/district/唐山市.js"></script>
    <script src="/js/district/邢台市.js"></script>
    <script src="/js/district/雄安新区.js"></script>
    <script src="/js/district/张家口市.js"></script>
<script>
    $(function () {

    });
</script>
}
<div class="container">
    <div id="map" style="height:700px"></div>
</div>