@{
    ViewBag.Title = "用户管理";
    Dictionary<string,object>[] whs = ViewBag.whs;
}

@section script{
    <script>
        var whs = [
            { value: "-1", text: "—" },
            @foreach(var wh in whs){
                @:{value:"@wh["id"]",text:"@wh["name"]"},
            }
            ];
        function onrowsave(field, row, oldValue, $el) {
            //console.log(row);
            //$.ajax({
            //    type: "post",
            //    url: "/stock/ewh",
            //    data: { wh:row },
            //    dataType: 'JSON',
            //    success: function (data, status) {
            //        if (status == "success") {
            //            alert("编辑成功");
            //        }
            //    },
            //    error: function () {
            //        alert("Error");
            //    },
            //    complete: function () {

            //    }

            //});
            
            if (row.id) {
                $.post("/user/eu", row, function (data) {
                    if (data.ok) {
                        //alert(data.msg);
                    } else {
                        alert(data.msg);
                        $el.html(oldValue);
                    }
                });
            } else {
                if (row.name && row.code && row.code != "" && row.name != "" && row.wid!=null) {
                    $.post("/user/au", row, function (data) {
                        if (data.ok) {
                            //alert(data.msg);
                            row.id = data.id;
                        } else {
                            alert(data.msg);

                        }
                    });
                }
            }
        }
        function utypefmt(value) {
            if (value == 0) {
                return "管理员";
            } else if (value == 1) {
                return "地市";
            } else if (value == 2) {
                return "设计院";
            } else if (value == 3) {
                return "厂家";
            } else if (value == 4) {
                return "督导";
            } else {
                return "未设置";
            }
        }
        function statusfmt(value) {
            if (value == 0) {
                return "停用";
            } else if (value == 1) {
                return "启用";
            } else {
                return "停用";
            }
        }
        $(function () {

            //1.初始化Table
            var oTable = new TableInit();
            oTable.Init();

            //2.初始化Button的点击事件
            var oButtonInit = new ButtonInit();
            oButtonInit.Init();
            $("#add").on("click", function () {
                $('#table1').bootstrapTable('insertRow', { index: 0, row: { code: "", name: "",utype:1,status:1,wid:-1,tel:"",contacts:"",pwd:"Hbdx1331" } });
            });
        });

        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#table1').bootstrapTable({
                    url: '/user/fu',         //请求后台的URL（*）
                    method: 'post',                      //请求方式（*）
                    toolbar: '#tbaction',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [{
                        field: 'id',
                        title: '用户id',
                        visible: false
                    }, {
                        field: 'code',
                        title: '登录名',
                        editable: {
                            validate: function (value) { //字段验证
                                if (!$.trim(value)) {
                                    return '不能为空';
                                }
                            },
                        }
                    }, {
                        field: 'name',
                        title: '用户名',
                        editable: {
                            validate: function (value) { //字段验证
                                if (!$.trim(value)) {
                                    return '不能为空';
                                }
                            },
                        }
                        },
                        {
                            field: 'pwd',
                            title: '密码',
                            editable: {
                                validate: function (value) { //字段验证
                                    if (!$.trim(value)) {
                                        return '不能为空';
                                    }
                                },
                            }
                        },    {
                        field: 'utype',
                        title: '用户类型',
                        //formatter: utypefmt,
                        editable: {
                            type: "select",
                            //pk:2,
                            source: [
                                { value: 0, text: '管理员' },
                                { value: 1, text: '地市' },
                                { value: 2, text: '设计院' },
                                { value: 3, text: '厂家' },
                                { value: 4, text: '督导' },
                            ]
                        }
                    }, {
                        field: 'wid',
                        title: '所属地市',
                        //formatter: utypefmt,
                        editable: {
                            type: "select",
                            //pk:2,
                            source: whs
                        }
                    },{
                        field: 'contacts',
                        title: '联系人',
                        //formatter: utypefmt,
                        editable: {
                            
                        }
                    }, {
                        field: 'tel',
                        title: '联系电话',
                        //formatter: utypefmt,
                        editable: {
                            
                        }
                    },  {
                        field: 'status',
                        title: '状态',
                        //formatter: statusfmt,
                        editable: {
                            type: "select",
                            //pk:2,
                            source: [
                                { value: 0, text: '停用' },
                                { value: 1, text: '启用' },
                            ]
                        }
                    }],
                    onEditableSave: onrowsave,
                });
            };

            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                };
                return temp;
            };
            return oTableInit;
        };


        var ButtonInit = function () {
            var oInit = new Object();
            var postdata = {};

            oInit.Init = function () {
                //初始化页面上面的按钮事件
            };

            return oInit;
        };
    </script>
}

<div class="container">
    <div class="btn-group" role="group" aria-label="..." id="tbaction">
      <button type="button" class="btn btn-success" id="add" auth><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增</button>
      <a href="/user/select" class="btn btn-success">设计院管理</a>
    </div>
    <table id="table1">
            
    </table>
</div>
