*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "宋体";}
/* expmenu */
ul.expmenu li div.header{padding:12px;font-size:18px;    border-bottom: 1px #fff solid;}
ul.expmenu li:last-child div.header{border-bottom:none;}
ul.expmenu li ul li {background-color:#BDE3FD;padding:12px;border-top:1px solid #00b4fb ;color:#727272;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.8);}
ul.expmenu li ul li:last-child{border-bottom:none;}
ul.expmenu li ul li.selected{background-color:#f4f4f4;}
ul.expmenu div.header{
	color:#203f61;
	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.2);
	
	background:#00b4fb ;/* Old browsers */
	background:-moz-linear-gradient(top, #00b4fb  0%, #00b4fb  100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b4fb ), color-stop(100%,#00b4fb ));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #00b4fb  0%,#00b4fb  100%);/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #00b4fb  0%,#00b4fb  100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top, #00b4fb  0%,#00b4fb  100%);/* IE10+ */
	background:linear-gradient(to bottom, #00b4fb  0%,#00b4fb  100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4fb ', endColorstr='#00b4fb ',GradientType=0 );/* IE6-9 */
}
ul.expmenu li div.header .label{background:no-repeat;color: #fff;/*text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);*/ font-weight:lighter;}
ul.expmenu li div.header .arrow{display:block;width:16px;height:16px;background:no-repeat center;float:right;}
ul.expmenu li div.header .arrow.up{background-image:url(../images/arrow_u.png);transform:rotate(90deg);
-ms-transform:rotate(90deg); /* Internet Explorer */
-moz-transform:rotate(90deg); /* Firefox */
-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
-o-transform:rotate(90deg); /* Opera */}
ul.expmenu li div.header .arrow.down{background-image:url(../images/arrow_d.png);}
ul.expmenu li .menu{display:none;}	
/* Mouse Events */
ul.expmenu div.header:hover{
	background:#00b4fb ;/* Old browsers */
	background:-moz-linear-gradient(top, #00b4fb  0%, #00b4fb  100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b4fb ), color-stop(100%,#00b4fb ));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #00b4fb  0%,#00b4fb  100%);/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #00b4fb  0%,#00b4fb  100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top, #00b4fb  0%,#00b4fb  100%);/* IE10+ */
	background:linear-gradient(to bottom, #00b4fb  0%,#00b4fb  100%);/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4fb ', endColorstr='#00b4fb ',GradientType=0 );/* IE6-9 */
	cursor:pointer;
}

ul.expmenu li ul li:not(.selected):hover{
	background:#e9f9ff;/* Old browsers */
	cursor:pointer;
}
ul.expmenu li ul li:not(.selected):active{
	background:#f1f1f1;/* Old browsers */
	cursor:pointer;
}
.dayclasss { 
    background-color:#fff;
    height:300px;
    display:none; 
    width:95%;
}
.datechartshowclass { 
height:300px;
width:100%;
}
.closebutton {
z-index:100000;
position: relative;
}