<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="kpipath" value="C:\ftp\kpi\"/>
    <add key="abcpath" value="C:\ftp\abc\"/>
    <add key="defpath" value="C:\ftp\def\"/>
    <add key="gcpath" value="C:\ftp\gc\gc.csv"/>
    <add key="altpath" value="C:\ftp\alt\alarmtype.csv"/>
    <add key="gcrrupath" value="C:\ftp\gc\gcrru.csv"/>
    <add key="nokiaecipath" value="C:\ftp\gc\nokiaeci.csv"/>
    <add key="quotapath" value="C:\ftp\gc\quota.csv"/>
    <add key="mrip" value="127.0.0.1"/>
    <add key="mrport" value="21"/>
    <add key="mruid" value="jaa"/>
    <add key="mrpwd" value="jaa"/>
    <add key="mrpath" value="/mr/"/>
    <add key="mrfilepath" value="c:\ftp\mr\"/>
  </appSettings>
</configuration>